#blogSubmissionForm {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  max-width: 800px;
  padding: 1.5rem;
}

#blogSubmissionForm input:not([type="checkbox"]) {
  width: 700px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  max-width: 330px;
  padding: 1.5rem;
}

#loginForm input {
  width: 220px;
}

#checkbox-input {
   width: auto;
   margin-right: 10px;
   margin-left: 0px;
   margin-bottom: 15px;
}

.inputDiv {
   margin-bottom: 15px;
}

.blog {
   display: flex;
   flex-direction: column;
   padding-top: 3px;
   padding-bottom: 3px;
}

.notification {
   width: 400px;
   background: rgb(230, 230, 230);
   font-size: 20px;
   border-style: solid;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
 }

 .notification.info {
   color:blue
 }

 .notification.success {
   color:green
 }

 .notification.error {
   color:red
 }

h2 {
   margin-top: 0px;
}

ul {
   padding-left: 0px;
}

input {
   margin-left: .5rem;
}
